<!doctype html>
<html lang="en">

<head>
    <title> {% block title %} {% endblock %} </title>
    {% include "_head.jinja2" %}
</head>

<body>

{% include "_nav.jinja2" %}


<main id="main_wrapper">
    {% block main %} {% endblock %}
</main>


<script type="text/javascript" src={{url_for("static", filename="js/main.js")}}></script>
</body>
</html>

